/* coursel css  */

#carousel-portion {
  display: flex;
  width: 90%;
  padding: 20px 10px 40px;
  margin: auto;
  position: relative;
}

#carousel {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  /* border: 2px solid red; */
}

.image {
  width: 100%;
  border-radius: 40px;
}

#carousel-bottom {
  text-align: center;
  background-color: #d4e0e9;
  border-radius: 20px;
  width: 98%;
  margin: auto;
  /* margin-left: 50px; */
  position: absolute;
  bottom: -5px;
  padding-top: 50px;
  padding-bottom: 10px;
}

/* product card  */

#section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  width: 90%;
  margin: auto;
  margin-top: 30px;

  border: 0px solid lightblue;
}

.card {
  border: 1px solid rgb(213, 237, 245);
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  cursor: pointer;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
  width: 50px;
  height: 50px;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: #313131;
  font-weight: 400;
}
/* product_item start here  */

.container_card {
  border: 0px solid black;
  background-color: #f5f7fa;
  padding-top: 100px;
  padding-bottom: 5px;
  margin-top: 25px;

  /* margin: auto; */
  /* width: 90%; */
}

.heading1 {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  color: #313131;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 35px;
  margin-left: 100px;
  position: relative;
  line-height: 1.4;
}

#greater {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#less {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.product_div {
  padding: 20px;
  background: #fff;
  border: 1px solid #e2eaf0;
  margin: 0;
  border-radius: 2px;
}

#product_Item {
  border: 0px solid red;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 30px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-bottom: 50px;
  padding-bottom: 20px;
  overflow-x: auto;
  overflow-x: hidden;
}
.images {
  width: 250px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.title {
  width: -0.5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.title {
  color: #313131;
  font-size: 18px;
  margin: 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price {
  font-size: 14px;
  color: #313131;
  display: block;
}
.main {
  display: flex;
  justify-content: space-around;
}

/* .button {
    width: 30%;
    border: 1px solid red;
    color: red;
  } */
.button {
  /* padding: 5px 15px; */
  color: #dc3226;
  border: 1px solid #dc3226;
  transition: all 0.2s ease-in;
  -moz-transition: 0.2s all ease-in;
  -webkit-transition: all 0.2s ease-in;
  border-radius: 2px;
  display: block;
  /* margin-bottom:20px; */
  width: 40%;
  height: 35px;
}
.product {
  width: 80%;
  margin: auto;
}

.product div {
  padding: 0 20px;
}

/* details product here  */

.product {
  width: 85%;
  margin: auto;
}

#detail_Heading {
  font-size: 22px;
  font-weight: 600;
  color: #313131;
  margin-top: 45px;
}

.product div {
  padding: 0 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  margin-top: 60px;
}
.list h5 {
  color: #313131;
  font-size: 18px;
  margin-top: 5px;
  font-weight: 600;
}
.list p {
  font-size: 16px;
  color: #717171;
  margin-top: 10px;
}
#cancel_anytime {
  padding-bottom: 15px;
}
#know {
  width: 80%;
  margin: auto;
  padding-left: 40px;
  color: #1dbdc0;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 200px;
}

.parent {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 75%;
  margin-left: auto;
}

.happy {
  margin: 5px;
}

.name-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  overflow-x: auto;
}

#img {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

#img img {
  border-radius: 50%;
  margin-right: 10px;
}

.card1 {
  background-color: #f5f7fa;
  cursor: pointer;
  padding: 50px;
  width: 400px;

  border-radius: 10px;
}

#size1 {
  color: #717171;
  margin-top: 20px;
}

#size2 {
  color: #717171;
  margin-bottom: 30px;
}

.RentoMojo {
  background-color: #f5f7fa;
  margin-top: 100px;
  padding: 100px 5% 0 5%;
  color: #717171;
}
.RentoMojo h3 {
  margin-bottom: 20px;
}
#footer {
  display: flex;
  background-color: #f5f7fa;
  /* font-weight: bold; */
}

#sideRhs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 80%; */
  gap: 20px;
  /* margin-left: auto; */
  text-align: left;
  padding-left: 1%;
  cursor: pointer;
  width: 75%;
}

#sideRhs div {
  margin-top: 5px;
}

.head {
  font-weight: bold;
}

#last_portion {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  align-items: center;
}

#border {
  border: 1px solid;
  width: 200px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
}

.yt {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #717171;
  border-color: #717171;
}

.linke {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #717171;
  border-color: #717171;
}

.twitt {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #717171;
  border-color: #717171;
}

.fac {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #717171;
  border-color: #717171;
}

.color {
  color: #717171;
  text-decoration: none;
}

.color:hover {
  text-decoration: underline;
  color: #717171;
}

#greater1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#less1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Medium Screen */
@media only screen and (min-width: 500px) and (max-width: 768px) {
  #box img {
    height: 6vh;
    margin: 20px 30px;
    margin-left: 100px;
  }

  #box {
    display: flex;
  }
  #card {
    margin-left: 30%;
    height: 40px;
    margin-top: 22px;
    border: none;
    font-size: 13px;
    border-radius: 10px;
    padding: 15x 5px 20px;
    background-color: white;
    cursor: pointer;
    color: rgb(136, 130, 130);
  }
  #section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin: 30px auto;
  }
  #product_Item {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 30px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
  }

  .product {
    width: 80%;
    margin: auto;
  }

  .product div {
    padding: 0 20px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 250px);
    margin-top: 40px;
  }
  #footer {
    /* display: flex; */
    background-color: #f5f7fa;
  }

  #sideRhs {
    /* grid-template-columns: repeat(3, 1fr); */
    /* width: 80%; */
    gap: 20px;
    /* margin-left: auto; */
    text-align: left;
    padding-left: 1%;
    cursor: pointer;
    width: 75%;
  }
}

/* Small Screen */
@media only screen and (min-width: 320px) and (max-width: 499px) {
  #box img {
    height: 6vh;
    margin: 20px 30px;
    margin-left: 100px;
  }

  #box {
    display: flex;
  }
  #card {
    margin-left: 30%;
    height: 40px;
    margin-top: 22px;
    border: none;
    font-size: 13px;
    border-radius: 10px;
    padding: 15x 5px 20px;
    background-color: white;
    cursor: pointer;
    color: rgb(136, 130, 130);
  }
  #section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin: 30px auto;
  }
  #product_Item {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 30px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
  }

  .product {
    width: 80%;
    margin: auto;
  }

  .product div {
    padding: 0 20px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 250px);
    margin-top: 40px;
  }
  #footer {
    /* display: flex; */
    background-color: #f5f7fa;
  }

  #sideRhs {
    /* grid-template-columns: repeat(3, 1fr); */
    /* width: 80%; */
    gap: 20px;
    /* margin-left: auto; */
    text-align: left;
    padding-left: 1%;
    cursor: pointer;
    width: 75%;
  }
}
